{% extends 'rango/base.html' %}
{% block title %}Rango{% endblock %}
{% block body_block %}

     <div class="hero-unit">
     <h2>Add a Page</h2>
        {% if category_name_url %}

            <div class="container">
                <form class="span6" id="category_form" method="post" action="/rango/{{ category_name_url }}/add_page/">

                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text}}
                    {{ field }} </br>
                {% endfor %}

                <button class="btn btn-primary" type="submit" name="submit">Create Page</button>
            </form>
        {% else %}
            <div style="color: red;">The specified category does not exist!</div>
        {% endif %}
            </div>
     </div>
{% endblock %}