{% extends 'rango/base.html' %}
{% load static %} <!-- New line -->
{% block title %}Rango{% endblock %}
{% block body_block %}

    {% if user.is_authenticated %}
    <h1>Rango says... Hello {{ user.username }}!</h1>
    {% else %}
    <h1>Rango says... Hello world!</h1>
    {% endif %}

    {% if categories %}<strong>Categories</strong>
        <ul>
            {% for category in categories %}
            <li><a href="/rango/category/{{ category.url }}">{{ category }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no categories present.</strong>
    {% endif %}


    {% if page_list %}<strong>Pages</strong>
        <ul>
            {% for page in page_list %}
            <li><a href="{{ page.url }}">{{ page.title }}</a> </li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>nO pages currently in category.</strong></strong>
    {% endif %}
    <img src="{% static "rango/images/bg.jpg" %}" alt="Picture of Rango" /> <!-- Images -->
{% endblock %}

